@font-face {
    font-family: 'Ame';
    src: url('./American\ Typewriter\ Regular.ttf') format('truetype');
}

.postdetails{
    padding: 3.5rem 16rem;
    background-color: #323232;
}
.postdetails .title{
text-align:center;
font-size: 2.7rem;
font-family: 'Lobster', cursive;
margin-bottom:2rem;
color: #F5F3C3; 
}

#postcontent{
   color: #FFFFFE;
   letter-spacing: 0.9px;
   line-height:1.3rem;
    font-family: 'Ame';
    font-size:1.1rem;
    line-height: 140%;
}

#postcontent .ql-align-center{
    text-align:center;
    line-height: 160%;
}
.loadingholder{
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: calc(100vh - 50px);
}
@media only screen and (max-width :320px) {
    .postdetails {
        padding: 0;
        background-color: #323232;
    }
    #postcontent{
        padding: 10px;
    }
}
@media only screen and (max-width :375px) {
    .postdetails {
        padding: 0;
        background-color: #323232;
    }
    #postcontent{
        padding: 10px;
    }
}
@media only screen and (max-width :600px) {
    .postdetails {
        padding: 0;
        background-color: #323232;
    }
    #postcontent{
        padding: 10px;
    }
}